@media screen and (min-width: 1200px) {
  .container {
    padding-inline: 0;

    width: 80%;
    margin-inline: auto;

    display: grid;

    grid-template-areas:
      "card1 card1 card2 card5"
      "card3 card4 card4 card5";

    gap: 1rem;

    grid-template-columns: repeat(4, 1fr);
  }

  .testimonial-card {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      grid-area: card1;
    }

    &:nth-child(2) {
      grid-area: card2;
    }

    &:nth-child(3) {
      grid-area: card3;
    }

    &:nth-child(4) {
      grid-area: card4;
    }
    &:nth-child(5) {
      grid-area: card5;
    }
  }
}
